*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Bahnschrift;
    src: url(Bahnschrift.ttf);
}
body {
    background-color: #4f4f4f;
    overflow-x: hidden;
    overflow-y: auto;
}

.list {
    color: #fff;
    background: #1e1e1e;
    max-width: 1920px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 35px 35px 35px 0px;
    
}
#logo {
    position:absolute;
    top: 15px;
    left: 30px;
}
.rightbar img{
    position: relative;
    left: 1450px;
    bottom: 80px;
    padding: 7px;
    width: 50px;
}
#banner1{
    max-width: 1270px;
    max-height: 633px;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 15%;
    bottom: 5%;
    transition: transform 0.2s;
}
#banner1:hover{
    transform: scale(1.01);
}
.brands{
    position: relative;
    top: 650px;
    left: 5%;
}
.brands img{
    padding: 20px;
}
.perifery{
    position: relative;
    top: 750px;
    left: 1%;
}
.perifery img{
    padding: 10px;
}
#devstore{
    display: flex;
    color: #fff;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-family:Bahnschrift ;
}

#mchose{transition: transform 0.2s;}
#mchose:hover{transform: scale(1.02);}
#lamzu{transition: transform 0.2s;}
#lamzu:hover{transform: scale(1.02);}
#gateron{transition: transform 0.2s;}
#gateron:hover{transform: scale(1.02);}
#vgn{transition: transform 0.2s;}
#vgn:hover{transform: scale(1.02);}
#logitech{transition: transform 0.2s;}
#logitech:hover{transform: scale(1.02);}
#mouse{transition: transform 0.2s;}
#mouse:hover{transform: scale(1.04);}
#keyboard{transition: transform 0.2s;}
#keyboard:hover{transform: scale(1.04);}
#headphone{transition: transform 0.2s;}
#headphone:hover{transform: scale(1.04);}
#keyboardss{
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 40px;
    position: relative;left: 290px;bottom: 250px;
}
#mousess{
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 40px;
    position: relative;left: 850px;bottom: 300px;
}
#headphoness{
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 40px;
    position: relative;left: 1400px;bottom: 350px;
}
#keyboardsss{
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 30px;
    position: relative;left: 290px;bottom: 350px;
    line-height: 1.5;
}